h1{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color:#E8D8C4;
  font-style: normal;
    margin:20px 0px;
}
.Forgot-Password {
    display:flex;
    flex-direction:column;
    align-items: center;
   


}
.Forgot-Password p{
    color:white;   
}
.Forgot-Password input{
    border-radius: 15px;
    height:55px;
    width:100%;
    padding-left:20px;
    border:1px solid #c7B7A3;
    outline:none;
    color:#5c5c5c;
    font-size:18px;
}